/*
 *   network.css
 *   third-part namespace styles
*/	
	/*  给矩形一个1px实心颜色rgb为#E4E4E2的边框  */
	.mulu {
		width: 225px;
		height: 100%;
		background-color:#fff;
		border-left: 1px solid #d3d3d3;
		border-right: 1px solid #d3d3d3;
		top: 0px;
	    right: -225px;
		position:absolute;
		display: none;
		vertical-align: middle;
	}
	/*  
	上下透明，右边框为10px */
	.mulu:before {
		content: '';
		position: absolute;
		top: 20px;
		left: -8px;
		width: 0;
		height: 0;
		border-right: 8px solid #d3d3d3;
		border-bottom: 8px solid transparent;
		border-top: 8px solid transparent; 
	}	
	/*  上下透明，右边框为9px且在:before伪元素三角形的基础上，向右，下移动了1px  */
	.mulu:after {
		content: '';
		position: absolute;
		top: 21px;
		left: -7px;
		width: 0;
		height: 0;
		border-bottom: 7px solid transparent;
		border-right: 7px solid #fff;
		border-top: 7px solid transparent; 
	}
